header.masthead.mb-auto
  .inner
    nav.nav.nav-masthead.justify-content-center
      = link_to 'Merchants', merchants_path, class: "nav-link"
      = link_to 'Transactions', transactions_path, class: "nav-link"

      - if current_user.present?
        = link_to current_user.email, "", class: "nav-link active"
        = link_to 'Logout', logout_path, class: "nav-link", method: :delete
      - else
        = link_to 'Login', login_path, class: 'nav-link'
