.row
  .cols-12
    h1 Edit merchant form

.row
  .cols-12
    - if @merchant.errors.present?
      .alert.alert-danger
        h4 Validation error 
        p = @merchant.errors.full_messages.join('\n')

    = form_for @merchant do |f|
      .form-group
        = f.label "Name"
        = f.text_field :name, class: "form-control"

      .form-group
        = f.label "Description"
        = f.text_field :description, class: "form-control"

      .form-group
        = f.label "Password"
        = f.password_field :password, class: "form-control"

      .form-group
        = f.label "Password confirmation"
        = f.password_field :password_confirmation, class: "form-control"

      = f.submit "Save", class: "btn btn-primary"
