.row
  .cols-12
    h1 Merchants

.row
  .cols-12
    table.table
      thead
        tr
          th(scope="col") ID
          th(scope="col") Email
          th(scope="col") Name
          th(scope="col") Status
          th(scope="col") Sum of transactions
          th(scope="col")
      tbody
        - @merchants.each do |merchant|
          tr
            th(scope="row")
              = merchant.id
            td = merchant.email
            td = merchant.name
            td = merchant.status
            td = merchant.total_transaction_sum || 0
            td
              = link_to 'Edit', edit_merchant_path(merchant.id)
              = link_to 'Delete', merchant_path(merchant.id), method: :delete
