.row
  .cols-12
    h1 Transactions

.row
  .cols-12
    table.table
      thead
        tr
          th(scope="col") ID
          th(scope="col") Type
          th(scope="col") Customer Email
          th(scope="col") Status
          th(scope="col") Customer Phone
          th(scope="col") Amount
          th(scope="col")
      tbody
        - @transactions.each do |transaction|
            tr
              th(scope="row") = transaction.id
              td = transaction.type
              td = transaction.customer_email
              td = transaction.status
              td = transaction.customer_phone
              td = transaction.amount
