h1 Login

.text-left
  = form_for :login do |f|
    .form-group
      = f.label "Email"
      = f.text_field :email, autofocus: true, class: "form-control"

    .form-group
      = f.label "Password"
      = f.password_field :password, class: "form-control"

    = f.submit "Log In", class: "btn btn-primary"
