doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
      | Payment System Task
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      = render 'shared/header'
      = render 'shared/notifications'

      main.inner.cover(role="main")
        = yield

      footer.mastfoot.mt-auto
